* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ------------------------------------ HEADER ----------------------------------------------- */

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.menu-container {
    color: rgb(255, 0, 0);
    background-color: black;
    border-bottom: 2px solid red;
    
    padding: 20px;
    display: flex;
    justify-content: center;
    
    font-family: 'Protest Strike', Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.menu {
    width: 950px;
    display: flex;
    justify-content: space-around;
}

.cv {
    margin-left: auto;
}

.hobbies {
    margin-left: 50px;
}

.github {
    margin-left: 50px;
}

.white-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.red-link {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

/* ------------------------------------ CONTENT ----------------------------------------------- */

.content {
    display: flex;
    justify-content: center;
}

/* ------------------------------------ FOOTER ----------------------------------------------- */

.txt-footer-container {
    color: white;
    background-color: black;
    border-top: 2px solid red;
    padding: 10px;
    padding-right: 20px;
    
    display: flex;
    justify-content: right;
    font-family: 'Protest Strike', Arial, Helvetica, sans-serif;
    font-size: 25px;
}

/* ------------------------------------ INDEX ----------------------------------------------- */

.presentation {
    color: white;
    background-color: black;
    
    width: 600px;
    padding: 20px;
    margin: 50px;
    border: 2px solid red;
    border-radius: 5px; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.small-photo {
    margin-right: 20px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
}

.txt-presentation {
    flex: 1;
}
/* ------------------------------------ HOBBIES ----------------------------------------------- */

.hobbies, 
.creative,
.games,
.creative-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.creative,
.games {
    width: 930px;
    margin: 50px;
    position: relative;
}

.creative h1,
.games h1 {
    font-family: 'Protest Strike', Arial, Helvetica, sans-serif;
    right: 0;
    text-align: right; 
    width: 100%;
    margin-bottom: 10px;
}

.creative h1::after,
.games h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;

    bottom: -5px;
    left: 0;
}
.creative-img img{
    border: 1px solid rgb(0, 0, 0);
    margin: 5px;
    height: 300px;
    width: 300px;
    border-radius: 3px;
}

